<div class="portfolio">
  <div class="categories">
    <ul>
      <li
        ng-repeat="item in menu"
        ng-click="selectType(item)"
        ng-class="{
          active: type === item
        }">{{item}}</li>
    </ul>
  </div>
  <div class="container items">
    <div
      masonry="{
        transitionDuration: '0.2s',
        isFitWidth: true
      }"
      reload-on-show
      preserve-order>
      <img
        class="masonry-brick"
        ng-src="{{brick.src}}"
        ng-repeat="brick in bricks"
        ng-if="displayBrick(brick.type)">
    </div>
  </div>
</div>
