@mixin calc($property, $expression...) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.header {
  height: $header-height;
  font-family: $font-family-base;
  background: $off-white url('../assets/images/header-bg.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $screen-sm-max) {
    height: 30rem;
  }

  .outer {
    border: 1px solid $white;
    padding: 10px;
    width: 470px;
    border-radius: 3px;

    @media (max-width: $screen-sm-max) {
      width: 350px;
    }
  }

  .inner {
    background: rgba($white, .95);
    padding: 50px 0;
    text-align: center;
    border-radius: 2px;

    h1 {
      font-family: $font-family-accent;
      font-size: 2em;
      margin: 0 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media (max-width: $screen-sm-max) {
        font-size: 1.5em;
        font-weight: 500;
      }
    }

    h2 {
      font-size: 1em;
      font-weight: lighter;
      letter-spacing: 1px;
      margin: 0;

      @media (max-width: $screen-sm-max) {
        font-size: 1em;
      }

      a {
        color: $pink;
        font-size: 1em;
        text-decoration: none;
      }
    }
  }
}
