<div class="contact">
  <ul>
    <li>
      <a href="http://github.com/soyzamudio" target="_blank">
        <i class="icon ion-social-octocat"></i>
        github
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/josezamudio" target="_blank">
        <i class="icon ion-social-linkedin"></i>
        linkedin
      </a>
    </li>
    <li>
      <a href="http://twitter.com/soyzamudio" target="_blank">
        <i class="icon ion-social-twitter"></i>
        twitter
      </a>
    </li>
    <li>
      <a ng-click="openEmail()">
        <i class="icon ion-email"></i>
        contact
      </a>
    </li>
  </ul>
</div>
